[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "vim/bundle/puppet-syntax-vim"]
	path = vim/bundle/puppet-syntax-vim
	url = git@github.com:puppetlabs/puppet-syntax-vim.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-powerline"]
	path = vim/bundle/vim-powerline
	url = git@github.com:Lokaltog/vim-powerline.git
[submodule "vim/bundle/vim-multiple-cursors"]
	path = vim/bundle/vim-multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule "vim/bundle/vim-rspec"]
	path = vim/bundle/vim-rspec
	url = git@github.com:thoughtbot/vim-rspec.git
